.return {
    position: absolute;
    top: 85px;
    left: 180px;
    font-size: 2rem;
    color: red;
}
.content_mess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.content_body {
    display: flex;
    height: 1000px;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
}
.Lcontent_body {
    flex: 1;
    background-color: rgb(228, 228, 228);
    margin-right: 10px;
    border-radius: 10px;
}
.Rcontent_body {
    margin-left: 10px;
    flex: 2;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}
.Lcontent_body_h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.Lcontent_body_h h3, .Lcontent_body_h i{
    color: #000;
    font-size: 1.5rem;
}